# Copy these keys into Render Environment Variables
# Neon PostgreSQL example URL format:
# jdbc:postgresql://ep-xxxx-xxxx.region.aws.neon.tech:5432/neondb?sslmode=require

SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=
APP_DATASOURCE_DRIVER_CLASS_NAME=org.postgresql.Driver
SPRING_JPA_HIBERNATE_DDL_AUTO=update
APP_SECURITY_SEED_TEST_USERS=false
APP_JWT_SECRET=
APP_JWT_EXPIRATION_MS=3600000
